# Node
node_modules/
dist/
build/
yarn-error.log
npm-debug.log*
package-lock.json
.pnp.cjs
.pnp.loader.mjs
.yarn/
*.tsbuildinfo

# Java
target/
*.class
*.jar
*.war
*.ear

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Environment files
.env

apps/api-java/uploads
apps/web/test-results
