<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homeputers.ebal2.api.domain.group.GroupMapper">
    <resultMap id="groupResult" type="com.homeputers.ebal2.api.domain.group.Group">
        <id property="id" column="id" typeHandler="com.homeputers.ebal2.api.mybatis.typehandler.UUIDTypeHandler"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findById" resultMap="groupResult">
        select id, name from groups
        where id = #{id, typeHandler=com.homeputers.ebal2.api.mybatis.typehandler.UUIDTypeHandler}
    </select>

    <select id="findPage" resultMap="groupResult">
        select id, name from groups
        order by name
        limit #{limit} offset #{offset}
    </select>

    <select id="count" resultType="int">
        select count(*) from groups
    </select>

    <insert id="insert">
        insert into groups (id, name)
        values (
            #{id, typeHandler=com.homeputers.ebal2.api.mybatis.typehandler.UUIDTypeHandler},
            #{name}
        )
    </insert>

    <update id="update">
        update groups set name = #{name}
        where id = #{id, typeHandler=com.homeputers.ebal2.api.mybatis.typehandler.UUIDTypeHandler}
    </update>

    <delete id="delete">
        delete from groups where id = #{id, typeHandler=com.homeputers.ebal2.api.mybatis.typehandler.UUIDTypeHandler}
    </delete>
</mapper>
